<head>
  <title>Nova Spees</title>
  <meta charset="utf-8">
  <meta name="Shelby Spees" content="Nova Spees">
  <meta name="description" content="Nova Spees is a five-year-old pitbull terrier.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>
