@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Light.ttf") format("truetype");
  font-display: swap;
}

body {
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 27px;
  font-weight: 300;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  color: #F5F8FA;
  background-color: #030303;
}

@media (max-width: 684px) {
  body {
    font-size: 21px;
  }
}

a {
  color: #F5F8FA;
}

a:hover {
  color: #3b94d9;
}

h1, h2, h3 {
  margin-top: 1.2em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid rgba(145,165,180,.6); /* hex version: #91a5b4 */
  font-family: 'Raleway', sans-serif;
}

div.site-header {
  display: inline-flex;
  align-items: flex-end;
}

a.site-header {
  text-decoration: none;
  font-size: 1.8em;
  font-family: "Raleway",-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI",Helvetica,Arial,sans-serif;
}

svg.header-logo {
  width: 2em;
  fill: #FFFFFF;
  padding-right: 0.25em;
}

a:hover svg.header-logo {
  fill: #3b94d9;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 0.5em;
  padding-left: 4.3em;
}

nav li {
  display: inline;
  padding-right: 0.8em;
}

nav a {
  text-decoration: none;
  font-size: 1.2em;
}

nav a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
}

footer {
  padding-top: 0.8em;
  border-top: 1px solid rgba(145,165,180,.6); /* hex version: #91a5b4 */
  margin-top: 2.4em;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #999;
}

@media (max-width: 684px) {
  footer {
    font-size: 12px;
  }
}

footer p {
  margin: 0;
  padding: 0;
}

footer a {
  color: #999;
}
